<!doctype html>
<html>
  <head>
    <title>LOGIN</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body style="background:#ddd;">
  
	<div style="width:70%;margin:0 auto;margin-top:50px;padding:20px;background:rgba(0,0,0,0.7);border-radius:20px;">
		<h1 style="color:white">Daxil ol</h1>
		<form action="/" method="POST">
			<input placeholder="istifadeci adiniz.." class="form-control" type="text" name="username"><br>
			<input placeholder="shifreniz.." class="form-control" type="password" name="pass"><br>
			<input class="btn btn-success" type="submit" value="Daxil ol">
		</form>
	</div>

  </body>
</html>